body {
    /* font-family: 'Times New Roman', Times, serif */
}

h1 {
    border-style: solid;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #006747; /* rrggbb hex value*/
    color: white;
}

.important {
    color: blue;
}

#current {

}

#myname {
    color: red;
}