header {
    background-color: lightsteelblue;
    color: black;
    border-style: hidden;
    border-radius: 1rem;
    text-align: center;
}

body {
    padding-top: 5rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
    height: 100%;
}

body, html {
    height: 100%;
}

.bgimg {
    background-image: url("https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 100%;
    position: relative;
    opacity: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 150%;
}